@import "../themes.scss";

.ForgotPassScreenContainer {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ForgotTopcontainer {
  width: 100%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.LogoImageScreenContainer {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.LogoImageScreenContainerSm {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.LogoImage {
  width: 130px;
  height: 130px;
  border-radius: 100px;
}
.LogoImageSm {
  width: 90px;
  height: 100%;
  border-radius: 100px;
}

.ForgotScreenTitle1 {
  font-size: 20px;
  font-family: $font-body;
}
.ForgotScreenTitle1Sm {
  font-size: 16px;
  font-family: $font-body;
}
.ForgotScreenTitle2 {
  font-size: 12px;
  font-family: $font-body;
  margin-top: 10px;
}
.ForgotScreenTitle2Sm {
  font-size: 10px;
  font-family: $font-body;
  margin-top: 6px;
}

.ForgotTextInputContainer {
  margin-top: 12px;
  border-width: 2px;
  border-color: #e6e6e6;
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  background-color: #fcfcfc;
}

.ForgotTextInputContainerSm {
  margin-top: 14px;
  border-width: 2px;
  border-color: #e6e6e6;
  padding: 15px;
  width: 90%;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.ForgotScreenTextInputText {
  width: 100%;
  font-family: $font-body;
}
.ForgotScreenTextInputTextSM {
  width: 100%;
  font-family: $font-body;
  font-size: 10px;
}
.ForgotScreenTextInputBox {
  width: 100%;
  border-width: 1px;
  border-color: $color-grey;
  border-radius: 10px;
  padding: 10px;
}
.ForgotScreenTextInputBoxSM {
  width: 100%;
  border-width: 1px;
  border-color: $color-grey;
  border-radius: 8px;
  padding: 5px;
}

.ForgotScreenBtnContainer {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.ForgotScreenForgotButtonSM {
  width: 48%;
  border-radius: 8px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  margin-top: 8px;
}

.ForgotScreenForgotButton {
  width: 48%;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  margin-top: 10px;
}

.ForgotScreenForgotButtonTextSM {
  font-size: 12px;
  font-family: $bayon-regular;
  color: $color-white;
}

.ForgotScreenForgotButtonText {
  font-family: $bayon-regular;
  color: $color-white;
}

.ForgotBottomContainer {
  width: 100%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
}
.ForgotScreenFooterImage {
  width: 100%;
  height: 60%;
}
