@import "../themes.scss";

.HomeContainer {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.HomeBoxContainerSM {
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.HomeBoxContainer {
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.HomeBoxCircle {
  border-color: $color-white;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.HomeSelectDateContainer {
  width: 90%;
  justify-content: flex-start;
}

.HomeSelectDateText {
  color: $color-white;
  font-family: $kantumruy-bold;
}

.HomeBoxInSideCircleText {
  color: $color-white;
  font-family: $kantumruy-bold;
}

.HomeBoxCircleText {
  color: $color-white;
  font-family: $kantumruy-bold;
}

.HomeBoxesContainer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.HomeHolidayProfileImage {
  border-radius: 200px;
  border-color: $color-dark-green;
}
.HomeContentContainer {
  flex: 1;
  width: 100%;
  background-color: $color-white;
  align-items: center;
  justify-content: center;
}

.HomeMainContentContainer {
  flex: 1;
  width: 100%;
  background-color: $color-white;
  align-items: center;
  border-color: $color-green;
}

.HomeFeaturesTitleSM {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.HomeFeaturesTitle {
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
}

.HomeFeaturesTitleButton {
  width: 50%;
  flex-direction: row;
  align-items: center;
}

.HomeFeaturesBoxesContaienr {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.HomeFeaturesBoxContaienr {
  justify-content: flex-start;
  align-items: center;
}

.HomeBoxStyle {
  width: 92%;
  border-color: $color-dark-green;
  justify-content: space-evenly;
  align-items: center;
}

.HomeFeaturesBoxTitle {
  text-transform: uppercase;
  font-family: $kantumruy-bold;
  color: $color-dark-green;
  text-align: center;
}

.HomeFeaturesTitleText {
  font-family: $kantumruy-bold;
  color: $color-dark-green;
}

.HomeHolidayTopContainer {
  width: 90%;
}

.HomeHolidayCardContainer {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.HomeHolidayTitleContainer {
  flex: 1;
}

.HomeHolidayTitle1 {
  font-family: $kantumruy-bold;
  color: $color-dark-green;
}

.HomeHolidayTitle2 {
  font-family: $kantumruy-bold;
  color: $color-red;
}

.HomeHolidayTitle3 {
  font-family: $kantumruy-regular;
  color: $color-dark-green;
}

.HomeLeaveRequestContainerSM {
  width: 94%;
  background-color: $color-dark-green;
  justify-content: center;
  align-items: center;
}

.HomeLeaveRequestContainer {
  width: 94%;
  background-color: $color-dark-green;
  justify-content: center;
  align-items: center;
}

.HomeLeaveRequestText {
  color: $color-white;
  font-family: $kantumruy-bold;
}

.HomeMainSelectTimeContainer {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.HomeMainSelectTimeHalfContainer {
  flex-direction: row;
  align-items: center;
}

.HomeMainScrollviewStyle {
  width: 100%;
  height: 100%;
}

.HomeMainSelectDateButton {
  flex-direction: row;
  align-items: center;
  background-color: $color-light-green;
}

.HomeMainSelectDateContainer {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.HomeMainSelectDateButtonLabel {
  font-family: $kantumruy-bold;
}

.HomeMainSelectTitle {
  font-family: $kantumruy-bold;
  color: $color-dark-green;
}

.HomeMainSelectDateButtonPlaceholder {
  font-family: $kantumruy-regular;
  color: $color-dark-green;
}

.HomeMainSelectDateMiniContainer {
  justify-content: flex-start;
}

.HomeLeaveReasonContainer {
  width: 100%;
  border-color: $color-dark-green;
  justify-content: center;
}

.HomeLeaveReasonStyleSM {
  width: 100%;
  font-family: $kantumruy-regular;
}

.HomeLeaveReasonStyle {
  width: 100%;
  font-family: $kantumruy-regular;
}

.HomeMainSelectDateSectionSM {
  flex-direction: column;
  align-items: center;
}

.HomeMainSelectDateSection {
  flex-direction: row;
  align-items: center;
}

.HomeMainSelectDateButtonLabelContainer {
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.HomeLeaveRequestButton {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.HomeLeaveRequestButtonText {
  font-family: $kantumruy-bold;
  color: $color-white;
}
