@import "../themes.scss";

.LoadingScreenContainer {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.LoadingScreenImage {
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.LogoImageContainer {
  flex-direction: row;
  justify-content: center;
}

.LogoImageStyle1 {
  width: 125px;
  height: 125px;
}

.LogoImageStyle {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  border-width: 2px;
  border-color: $color-dark-green;
}

.LoadingImageContainer {
  flex-direction: row;
  justify-content: center;
}

.LoadingImageStyle {
  width: 85px;
  height: 85px;
}

.LoadingNointernetacess {
  font-family: $kantumruy-bold;
}
