@import "../themes.scss";

.MeetingContainer {
  width: 100%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  align-items: center;
}

.MeetingBackButtonContainer {
  width: 100%;
}

.MeetingTitleSM {
  font-size: 10px;
  font-family: $kantumruy-bold;
}
.MeetingTitle {
  font-family: $kantumruy-bold;
}

.MeetingBackButtonSM {
  width: 40%;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.MeetingBackButton {
  width: 40%;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.MeetingBackButtonIconSM {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.MeetingBackButtonIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.MeetingBackButtonTitleSM {
  font-size: 10px;
  font-family: $kantumruy-bold;
  color: $color-dark-blue;
}

.MeetingBackButtonTitle {
  font-family: $kantumruy-bold;
  color: $color-dark-blue;
}

.MeetingBodyContainer {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
