@import "../themes.scss";

.ProfileContainer {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  border-top-right-radius: 10px;
}

.ProfileTopContainer {
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-color: $color-white;
}

.ProfileBodyContainer {
  width: 100%;
  height: 75%;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: $color-medium-blue;
  background-color: $color-white;
}

.ProfileBodyContainer1 {
  width: 100%;
  height: 95%;
}

.ImageUser {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  position: absolute;
  border-width: 2px;
  border-color: $color-white;
  background-color: $color-white;
}

.ImageUserSM {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  position: absolute;
  border-width: 1px;
  border-color: $color-white;
  background-color: $color-white;
}

.UserName {
  font-family: $kantumruy-bold;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.UserNameSM {
  font-family: $kantumruy-bold;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.UserPosition {
  font-family: $kantumruy-regular;
  font-size: $base-font-size;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 14px;
}

.UserPositionSM {
  font-family: $kantumruy-regular;
  font-size: $base-font-size;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 11px;
}

.ProfileFirstTopContainer {
  width: 100%;
  height: 50%;
  // background-color: $color-background;
}

.ProfileSecondTopContainer {
  width: 100%;
  height: 50%;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: $color-medium-blue;
}

.LogoutContainer {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.LogoutScreenLogoutButtonSM {
  width: 90%;
  border-radius: 8px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: #dc0606;
  margin-top: 8px;
  margin-bottom: 8px;
}

.LogoutScreenLogoutButton {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #dc0606;
  margin-top: 10px;
  margin-bottom: 10px;
}

.LogoutScreenLogoutButtonTextSM {
  text-transform: uppercase;
  font-size: 12px;
  font-family: $kantumruy-bold;
  color: $color-white;
}

.LogoutScreenLogoutButtonText {
  text-transform: uppercase;
  font-family: $kantumruy-bold;
  color: $color-white;
}
