@import "../themes.scss";

.TabViewContainer {
  width: 100%;
  height: 6%;
  justify-content: center;
  align-items: center;
}

.TabViewContainerFlexAnimation {
  width: 50%;
  height: 100%;
  position: absolute;
  border-bottom-color: $color-green;
  background-color: $color-light-green;
}

.TabViewContainerFlex {
  width: 95%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  background-color: #f8f8f8;
}

.TabViewButton {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-bottom-color: $color-green;
}

.TabViewButtonActive {
  width: 50%;
  height: 100%;
  justify-content: center;
}

.TabViewButtonText {
  font-family: $kantumruy-bold;
  text-align: center;
  color: $color-green;
}

.TabViewButtonTextActive {
  font-family: $kantumruy-bold;
  text-align: center;
  color: $color-green;
}
