@import "../themes.scss";

.TabViewContainer {
  width: 100%;
  height: 6%;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.TabViewContainerFlexAnimation {
  border-radius: 2px;
  width: 50%;
  height: 100%;
  position: absolute;
  border-bottom-width: 3px;
  border-bottom-color: $color-main;
  background-color: $color-light-blue;
}

.TabViewContainerFlex {
  width: 95%;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.TabViewButton {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-bottom-width: 0.5px;
}

.TabViewButtonActive {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-bottom-width: 0.5px;
}

.TabViewButtonActiveSM {
  width: 50%;
  height: 100%;
  justify-content: center;
  border-bottom-width: 0.2px;
}

.TabViewButtonText {
  font-family: $kantumruy-bold;
  text-align: center;
  color: $color-main;
  font-size: 14px;
}

.TabViewButtonTextSM {
  font-family: $kantumruy-bold;
  text-align: center;
  color: $color-main;
  font-size: 12px;
}

.TabViewButtonTextActive {
  font-family: $kantumruy-bold;
  text-align: center;
  font-size: 14px;
  color: $color-main;
}

.TabViewButtonTextActiveSM {
  font-family: $kantumruy-bold;
  text-align: center;
  font-size: 12px;
  color: $color-main;
}
